<div class="container journal-container">
    <div class="row">
      <div class="col-sm-2">
        By: <strong><%= journal._creator.username %></strong>
      </div>
      <div class="col-sm-10">
        <h1><%= journal.date %></h1>
        <h2 class="journal-feeling">FEELING: <%= journal.feeling %></h2>
        <p class="journal-entry"><%= journal.entry %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <img class="journal-image" src="<%= journal.image %>">
      </div>

    </div>
  </div>